{% extends "base_generic.html" %}

{% load customtag %}
{% block content %}

<script>
$(document).ready(function(){
    $('#input_name').on('input', function() {
        var filter = $('#input_name').val();
        //alert("test");
	    $(".illness_record").each(function(){
	        if (!($(this).text().startsWith(filter) ))
		    {
		        $(this).parent().css("display", "none");
				//alert($(this).text())
		    }
		    else
		    {
		        $(this).parent().css("display", "block");
		    }
			//alert($(this).text().startsWith(filter));
	
    	});
		//alert(filter);
   });
});
</script>

  <h1>疾病列表
    <font size = "5"><a href = "/catalog/illness/create"> 新增一個疾病資料</a></font>
  </h1>

輸入疾病名稱查詢：<input id = "input_name" type="text" name="illness_name" />


  {% if illness_list %}
  <ul>
    {% for illness in illness_list %}
      <li>
        <a href="{{ illness.get_absolute_url }}" class ="illness_record">{{ illness.name }}</a> ({{illness.selection}})
		<br><br>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>No illness records exist!!</p>
  {% endif %}       
{% endblock %}