{% extends "base_generic.html" %}

{% block content %}
{% load static %}
<script src="{% static 'TestInRange.js' %}"></script>

  <h1> {{inspection_report}}
  <font size ="5"><a class = "create_update_del" href ="{{inspection_report.get_update_url}}" > 更改</a>
  /
<a class = "create_update_del" href ="{{inspection_report.get_delete_url}}" > 刪除檢查報告</a></font>
  </h1>
    <br></br>
     
<div class="container">       
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info">
                現在時間: {{time}}</div>
            <div class="alert alert-success" style="display:none;">
                <span class="glyphicon glyphicon-ok"></span> Drag table row and cange Order</div>
            <table class="table">
                <thead class = "thead-dark">
                    <tr>
                        <th >
                            Column heading
                        </th>
                        <th>
                            Column heading
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr >
                        <td id ="glu_ac">
                            Glu_Ac: {{inspection_report.Glu_Ac}}
                        </td>
                        <td id ="ast">
                            AST: {{inspection_report.AST   }}
                        </td>
                    </tr>
                    <tr>
                        <td id ="alt">
                            ALT: {{inspection_report.ALT   }}
                        </td>
                        <td id ="cho">
                            CHO: {{inspection_report.CHO   }}
                        </td>
                    </tr>
                    <tr >
                        <td id ="tg">
                            TG: {{inspection_report.TG    }}
                        </td>
                        <td id ="hdl">
                            HDL: {{inspection_report.HDL   }}
                        </td>
                    </tr>
                    <tr>
                        <td id ="bun">
                            BUN: {{inspection_report.BUN   }}
                        </td>
                        <td id ="cre">
                            Cre: {{inspection_report.Cre   }}
                        </td>
                    </tr>
                    <tr >
                        <td id ="ua">
                            UA: {{inspection_report.UA    }}
                        </td>
                        <td id ="ca">
                            CA: {{inspection_report.CA    }}
                        </td>
                    </tr>
                    <tr>
                        <td id ="ldh">
                            LDH: {{inspection_report.LDH   }}
                        </td>
                        <td id ="ck">
                            CK: {{inspection_report.CK    }}
                        </td>
                    </tr>
                    <tr >
                        <td id ="amy">
                            AMY: {{inspection_report.AMY   }}
                        </td>
                        <td id ="na">
                            Na: {{inspection_report.Na    }}
                        </td>
                    </tr>
                    <tr>
                        <td id ="k">
                            K: {{inspection_report.K   }}
                        </td>
                        <td >
                           
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function() {
    test_inrange();
    })
</script>
{% endblock %}