{% extends "base_generic.html" %}

{% load customtag %}
{% block content %}

<script>
$(document).ready(function(){
    $('#input_name').on('input', function() {
        var filter = $('#input_name').val();
        //alert("test");
	    $(".patient_record").each(function(){
	        if (!($(this).text().startsWith(filter) ))
		    {
		        $(this).parent().css("display", "none");
				//alert($(this).text())
		    }
		    else
		    {
		        $(this).parent().css("display", "block");
		    }
			//alert($(this).text().startsWith(filter));
	
    	});
		//alert(filter);
   });
});
</script>

  <h1>病歷列表</h1>

請輸入姓名：<input id = "input_name" type="text" name="patient_name" />





<p>{{filterinput}}</p>
  {% if patient_list %}
  <ul>
    {% for patient in patient_list %}
      <li>
        <a href="{{ patient.get_absolute_url }}" class ="patient_record">{{ patient.name }}</a> ({{patient.personalid}})
		<br><br>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>No medical records exist!!</p>
  {% endif %}       
{% endblock %}