{% extends "base_generic.html" %}

{% block content %}
{% load crispy_forms_tags %}


  <form action="" method="post">

    {% csrf_token %}

	<div class = "form-row">
	    <div class = "form-group col-md-4 mb-0">
		{{medical_form.name|as_crispy_field}}
		</div>
	    <div class = "form-group col-md-4 mb-0">
		{{medical_form.duration|as_crispy_field}}
		</div>
		<div class = "form-group col-md-4 mb-0">
		{{medical_form.freq|as_crispy_field}}
		</div>
	</div>

    {{ treatment_record_form|crispy }}


 <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}